.quotes{
  margin-left: auto;
  margin-right: auto;
}
table, th, tr, td{
  border: 2px solid black;
}
th{
  width: 250px;
  height: 130px;
}
.quotes img{
    width: 250px;
    height: 130px;
}
body{
  background-image: url("https://images.unsplash.com/photo-1575318080244-dd217d9db1e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHVycGxlJTIwdGV4dHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=3000&q=80");
}
table{
  background-color: red;
}
hr{
  background-color: black;
}
th{
  color: white;
  font-size: 20px;
}
